body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #000;
    border-radius: 50%;
}

.flecha {
    position: absolute;
    right: -20px; /* Ajustar la posición de la flecha */
    font-size: 24px;
    color: #000;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}