/* Estils generals per a html i body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita el desplaçament */
}

/* Estils per al body */
body {
    font-family: 'Orbitron', sans-serif; /* Font digital */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111; /* Fons clar */
    color: #ff9900; /* Color ambre per als textos */
}

/* Contenidor per al botó principal */
.home-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Estils per al botó cap a index.html */
#mainBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estils per al botó cap a index.html quan es passa el ratolí per sobre */
#mainBtn:hover {
    background: #0056b3;
}

/* Estils per al contenidor principal */
.container {
    text-align: center;
    background: #000000; /* Fons fosc per al contenidor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 153, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 0.3s; /* Transició suau per al zoom */
}

/* Estils per a l'hora actual i el compte enrere */
.current-time, .countdown {
    font-size: 4em;
    margin: 20px 0;
    color: #ff9900; /* Color ambre */
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 10px rgba(255, 153, 0, 0.8);
}

/* Estils per al contenidor de configuracions */
.settings {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Estils per a les configuracions d'alarma i compte enrere */
.alarm-settings, .countdown-settings {
    margin: 0 10px;
    color: #fff;
}

/* Estils per a les opcions de so */
.sound-settings {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 0.8em; /* Mida de font més petita per a les opcions de so */
    padding-right: 20px; /* Afegeix padding a la dreta */
}

/* Estils per al títol */
h1 {
    padding-left: 20px; /* Afegeix padding a l'esquerra */
}

/* Estils per als inputs, selects i botons */
input, select, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}

/* Estils per als inputs i selects */
input, select {
    background-color: #222;
    color: #ff9900;
}

/* Estils específics per a l'input de duració del compte enrere */
#countdown-duration {
    width: 150px; /* Redueix l'amplada de l'input de duració del compte enrere */
}

/* Estils per als botons */
button {
    background-color: #0011ff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estils per als botons quan es passa el ratolí per sobre */
button:hover {
    background-color: #cc2900;
}

/* Estils per a l'etiqueta del toggle de mode fosc/clar */
.toggle-label {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 5px;
    position: absolute; /* Posició absoluta */
    top: 10px; /* Distància des de la part superior */
    right: 10px; /* Distància des de la dreta */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: white;
}

/* Contingut inicial de l'etiqueta del toggle */
.toggle-label::after {
    content: '◐'; /* Contingut inicial */
    position: absolute;
    transition: content 0.3s;
}

/* Estils per al checkbox del toggle */
.toggle-checkbox {
    display: none;
}

/* Estils per a l'etiqueta del toggle quan el checkbox està activat */
.toggle-checkbox:checked + .toggle-label {
    background-color: rgb(0, 0, 0);
}

/* Contingut de l'etiqueta del toggle quan el checkbox està activat */
.toggle-checkbox:checked + .toggle-label::after {
    content: '◑'; /* Contingut quan està activat */
}

/* Estils per al control de zoom */
.zoom-container {
    position: absolute;
    top: 60px; /* Posició sota el toggle */
    right: 10px; /* Distància des de la dreta */
    display: flex;
    flex-direction: column;
}

/* Estils per als botons de zoom */
.zoom-container button {
    background-color: #1400cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estils per als botons de zoom quan es passa el ratolí per sobre */
.zoom-container button:hover {
    background-color: #05cdff;
}

/* Estils per al selector de llengua */
.language-selector {
    position: absolute;
    top: 10px;
    right: 50px;
}

/* Estils per als botons del selector de llengua */
.language-selector button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

/* Estils per als botons del selector de llengua quan es passa el ratolí per sobre */
.language-selector button:hover {
    background-color: #0056b3;
}

/* Estils per a l'enllaç de help */
.help-link {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #007BFF;
    text-decoration: none;
}

.help-link:hover {
    text-decoration: underline;
}